/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("./styles/form/form.css");
@import url("./styles/task/task.css");
@import url("./styles/control/control.css");

body {
  background: #fff;
  font-family: Verdana, sans-serif;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 800px;
  min-height: 100vh;
  margin: 0 auto 0 auto;
}


